@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row d-flex align-items-center justify-content-center g-5 py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">Lightning Loans: A Coding Project</h1>
                <h4 class="lead">
                    Build an application that generates an amortization schedule for a simple interest
                    loan.
                </h4>

                <div>
                    <a type="button" class="btn btn-cfOrange btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="App">
                        Try it
                        out!
                    </a>
                </div>

            </div>
            <div class="col">
                <img src="img/lightningloans.png" class="img-fluid center-block d-block mx-auto"
                     alt="Lightning Loans Logo">
            </div>
        </div>
    </div>
</main>

